<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel=" icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img src="\images\me.png" alt="hahaa" class="potrait">
    </div>
    {{>footer}}
  </body>
</html>
