<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error : 404</title>
    <link rel=" icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{message}}</p>
    </div>
    {{>footer}}
  </body>
</html>
