<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel=" icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This website will tell you weather information.</p>
      <form >
        <label>Place: <input type="text" name="place" placeholder="Place"></label>
        <button>Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>
    <script src="\js\app.js"></script>
    {{>footer}}
  </body>
</html>
